body {
	background-image: url("http://i.imgur.com/InMHd9p.png");
	background-color: #2F2937;
	background-repeat: repeat-x;
	color: #fff;
}

hr {
	visibility: hidden;
}

.topnav, .topnav .selected a{
	background: transparent;
	box-shadow: none;
}

.topnav .nav-item a{
	color: rgba(136, 147, 149, 0.7);
}

.topnav .selected a, .topnav .nav-item a:hover {
	color: rgba(255, 255, 255, 1.0);
}

.toplogo, .install {
	text-align: center;
}

section h1 {
	font-size: 3.8rem;
	line-height: 4.2rem;
}

.container {
	padding-bottom: 4.0rem;
}

.container figure, .container {
	background: transparent;
	padding: 0;
	box-shadow: none;
}

.grid-col-1 {
	width: 19%;
	height: 22rem;

}

.grid-col-1, .grid-col-2 {
	margin: 0.5%;
}

@media screen and (max-width: 900px) {
	.grid-col-1 {
		display: block;
		width: 100%;
		max-height: auto;
	}
}

@media screen and (min-width: 901px) and (max-width: 1550px) {
	.grid-col-1 {
		display: inline-block;
		width: 49%;
	}
}
}